:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
}
*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}

.main .col{
    width: 48%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.post{
    background-color: white;
    box-shadow: 0 10px 20px -5px #00000061;
    border-radius: 0 0 25px 0;
    width: 350px;
}
.post img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.post-info h2{
    font-weight: 600;
    margin: 10px;
    color: var(--color-black-1);
    cursor: pointer;
    transition: 0.3s ease;
}
.post-info h2:hover{
    color: red;
}
.post-info p{
    font-size: 15px;
    opacity: 0.7;
    line-height: 1.5rem;
    text-align: justify;
    padding: 0 10px 10px 10px;
    cursor: pointer;
}
.post-info p:hover{
    color: rgb(214, 0, 0);
}
.user-info img{
    width: 15%;
    height: 15%;
    border-radius: 50%;
}
.user-info{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.user-info h1{
    font-weight: 100;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    color: var(--color-black-1);
}
.user-info .date{
    margin-left: 10px;
    line-height: 1.5rem;
}

.container.main{
    display: flex;
    justify-content: space-around;
    padding: 0 0 16px;
}
.post-info h4{
    padding: 0 10px 20px 10px;
    font-size: 15px;
    color: #141d28;
    font-weight: 600;
    transition: 0.3s ease;
}
.col .post:first-child{
    margin-left: 150px;
}
.post-info h4:hover{
    color: red;
}

/* ------------------- footer ------------------*/

.footer{
    width: 100%;
    position: relative;
    background-color: #1f4c70;
    background-size: cover;
    overflow: hidden;
}
.footer .main_footer{
    display: flex;
    flex-direction: column;
}
.footer .terms_condi{
    color: white;
    line-height: 2rem;
    padding-top: 50px;
    display: block;
}
.footer .terms_condi .name_prep{
    font-weight: 100;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 3rem;
}
.footer .terms_condi .foot_work{
    text-align: center;
    font-weight: 100;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 1rem;
    line-height: 1.5rem;
}
.icons{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.icons li{
    margin: 0 10px;
}
.icons a{
    text-decoration: none;
    color: white;
}
.icons a i {
    font-size: 30px;
}
.icons a:hover i{
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    transition: 0.5s;
}
.footer_bottom{
    background-color: whitesmoke;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer_bottom .more_desc{
    font-size: 15px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.more_desc span{
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4a4a4a;
}











@media(max-width: 800px){
    .container.main{
        display: flex;
        flex-direction: column;
    }
    .col .post:first-child{
        margin-left: 20px;
    }
    .main .col{
        width: 100%;
        margin-top: 50px;
    }
}